<html>
    <head>
        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body>
        <div id="background">
        </div>
        <div id="wrapper">
            <header>
                <img src="images/logo_white.png" width="100"/>
                <nav>
                    <ul>
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                        <li><a href="#">Link 4</a></li>
                    </ul>
                </nav>
            </header>
            <div id="splashScreen">
                <h1>An adventure you will never forget</h1>
                <h4>Experience mountains like you never done before</h4>
                <a href="http://localhost:3000/profile" class="ghost-button">Get started!</a>
            </div>

        </div>

    </body>
</html>
